.logo {
  font-size: 2rem;
  color: white;
  display: flex;
  text-decoration: none;
}

.header {
  width: 1200px;
  background-color: #003366;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  position: sticky;
  display: flex;
  justify-content: end;
  height: 5rem;
}

.rightBar {
  right: 0;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;

  color: white;
}

.nav-links {
  text-decoration: none;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}
