.welcome {
  font-size: 4rem;
  color: white;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.middle-container {
  width: 1200px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 102, 153, 0.5);
  margin-top: 20px;
  overflow: hidden;
  border-radius: 3rem;
}

video {
  text-align: center;
  padding-top: 100px;
  float: right;
  margin-right: 2rem;
}

.image-container {
  padding-top: 80px;
  padding-left: 2rem;
  text-align: center;

  /* margin-right: 15rem; */
  /* position: relative; */

  /* float: right; */
  width: 500px;
  height: 300px;
  /* overflow: hidden; */
}

/* .slide-container {
  display: flex;
  z-index: -1;

  transition: transform 0.4s ease-in-out;
  height: 100%;
  width: 100%;
} */

.image {
  width: auto;
  max-height: 200px;
}

.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  color: white;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
  bottom: 0;
}
